Repository wal-g/wal-g, pull requests merged in 2024-11, with the labels that each got.

#1785 MySQL: Add xbstream unarchiver to wal-g [patch 2]
  internal/databases/mysql/innodb/innodb.go
  internal/databases/mysql/xbstream/chunk.go
  internal/databases/mysql/xbstream/diff.go
  internal/databases/mysql/xbstream/diff_test.go
  internal/databases/mysql/xbstream/incremental_disk_sink_test.go
  internal/databases/mysql/xbstream/xbstream_disk_sink.go
Labels: mysql

#1797 MongoDB: Support restore of sharded cluster with PiTR
  cmd/mongo/binary_backup_fetch.go
  cmd/mongo/oplog_replay.go
  internal/databases/mongo/binary/mongod.go
  internal/databases/mongo/binary/mongod_runner.go
  internal/databases/mongo/binary/oplog_reply.go
  internal/databases/mongo/binary/restore.go
  internal/databases/mongo/binary/storage_local.go
  internal/databases/mongo/binary_backup_fetch_handler.go
  internal/databases/mongo/oplog/applier.go
  internal/databases/mongo/oplog_replay_handler.go
Labels: Mongo

#1843 feat(file): add sync mutex to TarFileSet
  internal/tar_file_sets.go
Labels: postgres

#1840 bump golang version in docker tests
  docker/golang/Dockerfile
  docker/mysql/Dockerfile_v8
  docker/mysql_tests/Dockerfile_v8
Labels: mysql, go
