Repository wal-g/wal-g, pull requests merged in 2024-10, with the labels that each got.

#1779 Correction for checksum verification PostgreSQL
  internal/databases/postgres/backup_push_handler.go
  internal/databases/postgres/paged_file_verifier.go
  internal/databases/postgres/pagefile.go
  internal/databases/postgres/query_runner.go
  internal/databases/postgres/tar_ball_file_packer.go
Labels: postgres

#1817 Remove unexpected '\r\n' sequence at the end of multiline commands in the config
  internal/config/config.go
Labels: mysql

#1818 Greenplum 7 support
  docker/cloudberry/Dockerfile
  docker/cloudberry_tests/scripts/tests/test_functions/util.sh
  internal/databases/greenplum/query_runner.go
Labels: Greenplum

#1806 Add JournalSize to backup sentinels
  cmd/mysql/backup_push.go
  cmd/mysql/xtrabackup_push.go
  internal/databases/mysql/backup_push_handler.go
  internal/journal.go
  internal/journal_test.go
Labels: mysql

#1816 Fixes for partial restore
  docker/cloudberry_tests/scripts/tests/partial_database_restore_test.sh
  docker/cloudberry_tests/scripts/tests/partial_restore_wildcard.sh
  docker/cloudberry_tests/scripts/tests/partial_table_restore_test.sh
  docker/gp_tests/scripts/tests/partial_database_restore_test.sh
  docker/gp_tests/scripts/tests/partial_restore_wildcard.sh
  docker/gp_tests/scripts/tests/partial_table_restore_test.sh
  docker/pg_tests/scripts/tests/partial_restore_test.sh
  internal/databases/greenplum/extract_provider_with_spec.go
  internal/databases/postgres/extract_provider_with_spec.go
  internal/databases/postgres/extract_provider_with_spec_test.go
  internal/databases/postgres/names_metadata.go
  internal/databases/postgres/names_metadata_test.go
  internal/databases/postgres/query_runner.go
Labels: Greenplum
