Repository wal-g/wal-g, pull requests merged in 2024-12, with the labels that each got.

#1849 Changed error handling while collecting tables data
  internal/databases/postgres/query_runner.go
Labels: enhancement, Greenplum

#1851 postgres: refactor backup to skip non-physical storage objects (#1850)
  internal/databases/postgres/query_runner.go
Labels: postgres, Greenplum

#1845 MongoDB: Add 8.0 support + bump other versions minors
  .github/workflows/dockertests-par.yml
  .gitignore
  Makefile
  go.mod
  go.sum
  internal/databases/mongo/client/client.go
  internal/databases/mongo/client/mocks/mongo_driver.go
  internal/databases/mongo/oplog/applier.go
  internal/databases/mongo/oplog/util.go
  internal/databases/mongo/oplog/util_test.go
  tests_func/env.go
  tests_func/helpers/mongo.go
  tests_func/images/mongodb/config/mongod-6.1-plus.conf
  tests_func/images/mongodb/config/wal-g-8.0.json
Labels: enhancement, Mongo, dependencies

#1862 wal-g copy for greenplum
  cmd/gp/copy.go
  internal/databases/greenplum/ao_check_segment_length_handler.go
  internal/databases/greenplum/copy.go
  internal/databases/greenplum/copy_test.go
  testtools/util.go
  utility/utility.go
Labels: Greenplum
