Repository wal-g/wal-g, pull requests merged in 2025-02, with the labels that each got.

#1903 Greenplum: add --force-delete flag to delete command
  cmd/gp/delete.go
  internal/databases/greenplum/delete_handler.go
Labels: Greenplum

#1876 Add unit tests for internal/databases/redis.HandleDetailedBackupList
  internal/databases/redis/backup_list_handler.go
  internal/databases/redis/backup_list_handler_test.go
Labels: valkey

#1831 MySQL: apply xtrabackup deltas
  cmd/mysql/backup_fetch.go
  cmd/mysql/xb/extract.go
  cmd/mysql/xb/extract_diff.go
  docker-compose.yml
  docker/mysql/Dockerfile_v8
  docker/mysql_tests/scripts/mysql8_tests/full_xtrabackup_inplace_test.sh
  docker/mysql_tests/scripts/mysql8_tests/xbtool.sh
  docker/mysql_tests/scripts/mysql8_tests/xbtool_incremental_test.sh
  docker/mysql_tests/scripts/mysql8_tests/xbtool_inplace_test.sh
  docs/MySQL.md
  docs/PostgreSQL.md
  internal/databases/mysql/backup_fetch_handler.go
  internal/databases/mysql/xbstream/README.md
  internal/databases/mysql/xbstream/backup_sink.go
  internal/databases/mysql/xbstream/backup_sink_diff.go
  internal/databases/mysql/xbstream/delta.go
  internal/databases/mysql/xbstream/file_sink.go
  internal/databases/mysql/xbstream/file_sink_decompress.go
  internal/databases/mysql/xbstream/file_sink_diff.go
  internal/databases/mysql/xbstream/file_sink_diff_test.go
  internal/databases/mysql/xbstream/file_sink_simple.go
  internal/databases/mysql/xbstream/files.go
  internal/databases/mysql/xbstream/meta.go
  internal/databases/mysql/xbstream/meta_test.go
  internal/databases/mysql/xbstream/xbstream_disk_sink.go
  internal/databases/mysql/xtrabackup.go
Labels: mysql

#1917 Fix connection break
  internal/databases/postgres/query_runner.go
Labels: postgres, Greenplum
