Repository wal-g/wal-g, pull requests merged in 2025-04, with the labels that each got.

#1957 Fix catchup issuing premature stop
  internal/databases/postgres/catchup_send_recieve_handler.go
Labels: postgres

#1882 Refactor: Move CheckArchiveCommand from "connect.go" to queryRunner
  internal/databases/greenplum/backup_push_handler.go
  internal/databases/postgres/backup_push_handler.go
  internal/databases/postgres/connect.go
  internal/databases/postgres/query_runner.go
Labels: postgres

#1940 Add config option WALG_FORCE_WAL_DELTA
  docker/gp_tests/scripts/configs/common_config.json
  docker/pg_tests/scripts/configs/common_config.json
  docker/pg_tests/scripts/configs/delta_backup_wal_delta_test_config.json
  docs/Greenplum.md
  docs/PostgreSQL.md
  internal/config/config.go
  internal/databases/postgres/backup_push_handler.go
Labels: postgres, Greenplum

#1970 Switch to container due to Ubuntu 20.04 deprecation on GitHub (fix the worflow release.yml)
  .github/workflows/release.yml
Labels: github_actions
