Repository wal-g/wal-g, pull requests merged in 2025-06, with the labels that each got.

#2002 Added PGAPPNAME to allowed settings
  internal/config/config.go
Labels: postgres, Greenplum

#1974 Fix failed restore gp cbdb
  docker/cloudberry_tests/scripts/tests/restore_point.sh
  internal/databases/greenplum/backup_fetch_handler.go
  internal/databases/greenplum/pg_hba_cfg_maker.go
  internal/databases/greenplum/pg_hba_cfg_maker_test.go
  internal/databases/greenplum/restore_point.go
Labels: Greenplum

#2003 DIRECT-IO Reader for PostgreSQL
  docs/PostgreSQL.md
  go.mod
  go.sum
  internal/config/config.go
  internal/databases/postgres/pagefile.go
  internal/fsutil/direct_io_reader.go
  internal/fsutil/direct_io_reader_test.go
  internal/fsutil/disk_data_folder.go
  internal/tar_ball_file_packer.go
  internal/tools/go.sum
Labels: postgres

#1968 Fix WalPageSize and BlockSize for gp and cloudberry
  cmd/gp/copy.go
  cmd/gp/gp.go
  cmd/pg/pg.go
  internal/config/config.go
  internal/databases/postgres/orioledb/incremental_page_reader.go
  internal/databases/postgres/paged_file_delta_map.go
  internal/databases/postgres/paged_file_verifier.go
  internal/databases/postgres/pagefile.go
  internal/databases/postgres/pagefile_test.go
  internal/walparser/wal_parser.go
Labels: Greenplum
