Repository wal-g/wal-g, pull requests merged in 2025-03, with the labels that each got.

#1943 migrate to new issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/general.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: github_actions

#1946 Added deduplication of pgdata in path
  internal/databases/postgres/daemon_handler.go
Labels: postgres

#1947 Reduce logging for partial database restore [pg/gp]
  internal/databases/postgres/extract_provider_with_spec.go
Labels: postgres, Greenplum
